<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.edubackend.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.edubackend.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="real_name" property="realName" />
        <result column="role" property="role" />
        <result column="phone" property="phone" />
        <result column="school_name" property="schoolName" />
        <result column="create_source" property="createSource" />
        <result column="class_id" property="classId" />
        <result column="created_by" property="createdBy" />
        <result column="must_change_password" property="mustChangePassword" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, real_name, role, phone, school_name, create_source, class_id, created_by, must_change_password, create_time, update_time, is_deleted
    </sql>

</mapper>
